<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.windowsazure.messaging">

    <application>
        <service
            android:name=".notificationhubs.ADMReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>
